.archive-title
  color color-meta
  font-weight bold
  text-shadow 0 0 1px #fff
  padding 24px 0 24px 30px
  box-shadow: 0 2px 6px rgba(100,100,100,0.3);

.archive-post
  color color-meta
  font-weight normal
  padding 0 0 24px 0
  margin-bottom -30px
  text-shadow 0 0 1px #fff
  a
    color color-font
    &:hover
      color color-link
      text-decoration none

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'

.archive
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  border-bottom 1px solid color-border
  margin-bottom 50px

  span
    color color-meta
    font 0.8em font-title
    margin-top 5px
    margin-right 10px
    margin-bottom 5px
    margin-left 10px

  article
    box-shadow none
    .post-content
      margin-bottom 0
